# Eval Files
eval/*

# Unrelevant Files
exp/*
archive/*

# Word Embeddings
lib/fastText/
lib/fastText_ownFork/
lib/glv/
lib/w2v/
lib/__pycache__/

# All the Random Things in the First folder
/*.py

# Segmenter Files
preproc/stanford_segmenter/
preproc/mosesdecoder/



